In [62]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
os.chdir('C:\\Users\\Manoj\\Desktop\\Edureka_Python')

In [63]:
data= pd.read_csv("Salaries.csv")
data.head()

C:\Users\Manoj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
len(data)

148648

In [23]:
data[data['Year']==2014].loc[:,['JobTitle','TotalPay']].groupby('JobTitle').mean().sort_values(['TotalPay'], ascending = False).head(1)

                          TotalPay
JobTitle
Chief Investment Officer  339653.7

How much money could have been saved in Year 2014 by stopping
OverTimePay?

In [24]:
data.loc[:,['Year','OvertimePay']].groupby('Year').sum()
#1359744789

       OvertimePay
Year
2011  1.638191e+08
2012  1.846650e+08
2013  1.986214e+08
2014  2.059186e+08

In [25]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [50]:
data[(data['Year']==2014) & (data['Agency']=='San Francisco')].loc[:,['Year','JobTitle','TotalPayBenefits']].groupby('JobTitle')['TotalPayBenefits'].nlargest(5)

JobTitle
ACPO,JuvP, Juv Prob (SFERS)     135281     80266.37
ASR Senior Office Specialist    117356    161738.89
                                128834    103718.95
                                128920    103404.52
                                128957    103299.75
                                129227    102328.61
ASR-Office Assistant            134554     83097.49
                                134558     83097.46
                                134744     82337.11
                                135499     79179.11
                                135520     79043.96
Account Clerk                   134119     84755.64
                                134153     84583.47
                                134193     84430.20
                                134227     84264.86
                                134250     84166.33
Accountant I                    129819    100245.90
                                140728     28110.76
Accountant II                   126803    110335.18
                                126806    110333.47
                                127043    109549.52
                                127045    109548.35
                                127046    109548.31
Accountant III                  121307    135392.59
                                121308    135392.39
                                122080    131940.68
                                122259    130817.58
                                122310    130555.31
Accountant IV                   117886    157441.72
                                117887    157439.76
                                            ...
Wharfinger 2                    125957    113717.86
                                126601    111159.79
Window Cleaner                  127098    109437.97
                                127229    109000.61
                                128273    105622.87
                                128308    105505.27
                                128324    105455.94
Window Cleaner Supervisor       126615    111085.85
Wire Rope Cable Maint Mechanic  111931    226225.35
                                112521    212543.59
                                112757    208922.90
                                112865    206862.08
                                113048    203329.64
Wire Rope Cable Maint Sprv      111837    228338.09
Worker's Comp Supervisor 1      119713    145106.26
                                123699    123913.03
                                136958     68181.41
                                137247     65320.24
                                138247     54549.77
Worker's Compensation Adjuster  119188    148584.41
                                124263    121036.41
                                124538    119540.72
                                124539    119540.49
                                124961    117784.53
X-Ray Laboratory Aide           122670    129044.16
                                124217    121266.81
                                126695    110784.41
                                127939    106711.18
                                128749    103922.85
Youth Comm Advisor              138456     52011.19
Name: TotalPayBenefits, Length: 3900, dtype: float64

In [33]:

data.loc[:,['EmployeeName','Year','TotalPayBenefits']].nlargest(5,'TotalPayBenefits')

                EmployeeName  Year  TotalPayBenefits
0             NATHANIEL FORD  2011         567595.43
1               GARY JIMENEZ  2011         538909.28
110529           David Shinn  2014         510732.68
110530            Amy P Hart  2014         479652.21
110531  William J Coaker Jr.  2014         436224.36

In [49]:
data[(data['Year']==2014) & (data['Agency']=='San Francisco')]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110529,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110530,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110531,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110532,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110533,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT
110534,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,NaN,San Francisco,FT
110535,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,NaN,San Francisco,FT
110536,110539,Harlan L Kelly-Jr,Executive Contract Employee,310161.02,0.00,0.00,88823.51,310161.02,398984.53,2014,NaN,San Francisco,FT
110537,110540,Samson Lai,"Battalion Chief, Fire Suppress",179464.14,128685.99,27334.83,59876.90,335484.96,395361.86,2014,NaN,San Francisco,FT
110538,110541,David L Franklin,Asst Chf of Dept (Fire Dept),201566.88,97907.38,29916.28,64599.59,329390.54,393990.13,2014,NaN,San Francisco,FT
110539,110542,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",294000.18,0.00,0.00,85918.54,294000.18,379918.72,2014,NaN,San Francisco,FT
110540,110543,Yifang Qian,Senior Physician Specialist,198874.01,0.00,112776.35,62947.63,311650.36,374597.99,2014,NaN,San Francisco,FT
110541,110544,Richard L Corriea,Commander 3,184734.01,0.00,137409.09,51940.39,322143.10,374083.49,2014,NaN,San Francisco,PT
110542,110545,Raymond A Guzman,Dep Chf of Dept (Fire Dept),260728.04,0.00,26761.80,82974.58,287489.84,370464.42,2014,NaN,San Francisco,FT
110543,110546,Jose L Velo,"Battalion Chief, Fire Suppress",183333.82,100005.66,23760.13,61052.39,307099.61,368152.00,2014,NaN,San Francisco,FT
110544,110547,Bryan W Rubenstein,"Battalion Chief, Fire Suppress",177771.16,91547.61,36798.76,59664.91,306117.53,365782.44,2014,NaN,San Francisco,FT
110545,110548,Roland Pickens,"Administrator, DPH",282619.96,0.00,0.00,82941.18,282619.96,365561.14,2014,NaN,San Francisco,FT
110546,110549,Mark A Gonzales,Dep Chf of Dept (Fire Dept),260728.00,0.00,22933.73,81886.55,283661.73,365548.28,2014,NaN,San Francisco,FT
110547,110550,Barbara A Garcia,Dept Head V,279839.22,0.00,2164.54,82884.27,282003.76,364888.03,2014,NaN,San Francisco,FT
110548,110551,Edwin M Lee,Mayor,281537.17,0.00,0.00,83277.34,281537.17,364814.51,2014,NaN,San Francisco,FT
110549,110552,Thomas A Siragusa,Asst Chf of Dept (Fire Dept),207437.76,67712.84,20743.71,64549.50,295894.31,360443.81,2014,NaN,San Francisco,FT
110550,110553,Denise A Schmitt,Deputy Chief 3,268632.02,0.00,6192.08,80475.76,274824.10,355299.86,2014,NaN,San Francisco,FT
110551,110554,Lyn Tomioka,Deputy Chief 3,268632.00,0.00,6192.08,80475.74,274824.08,355299.82,2014,NaN,San Francisco,FT
110552,110555,Arthur W Kenney,Asst Chf of Dept (Fire Dept),207437.76,31868.28,49941.59,64549.50,289247.63,353797.13,2014,NaN,San Francisco,FT
110553,110556,Greg B Pizarro,Asst Med Examiner,233386.01,10794.09,40515.00,66559.68,284695.10,351254.78,2014,NaN,San Francisco,FT
110554,110557,Charlie Orkes,Deputy Chief 3,265729.53,0.00,6134.00,78447.40,271863.53,350310.93,2014,NaN,San Francisco,FT
110555,110558,Susan Currin,"Adm, SFGH Medical Center",268946.02,0.00,0.00,80581.73,268946.02,349527.75,2014,NaN,San Francisco,FT
110556,110559,Naomi M Kelly,Dept Head V,267914.01,0.00,0.00,80361.22,267914.01,348275.23,2014,NaN,San Francisco,FT
110557,110560,Trent E Rhorer,Dept Head V,267914.00,0.00,0.00,79799.88,267914.00,347713.88,2014,NaN,San Francisco,FT
110558,110561,Benjamin L Rosenfield,Controller,267914.00,0.00,0.00,79799.88,267914.00,347713.88,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148618,148621,India C Sabater,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,NaN,San Francisco,PT
148619,148622,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.00,15.35,15.35,2014,NaN,San Francisco,PT
148620,148623,Jacqueline Hubbard,Senior Clerk,0.00,0.00,13.77,0.00,13.77,13.77,2014,NaN,San Francisco,PT
148621,148624,Deborah B Honig,Attorney (Civil/Criminal),0.00,0.00,13.35,0.13,13.35,13.48,2014,NaN,San Francisco,PT
148622,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,PT
148623,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,PT
148624,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148625,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148626,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148627,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148628,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148629,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148630,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148631,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148632,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148633,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148634,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148635,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148636,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148637,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148638,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148639,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148640,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148641,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148642,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [51]:
data[(data['Year']==2014) & (data['Agency']=='San Francisco')].loc[:,['Year','JobTitle','TotalPayBenefits']].groupby('JobTitle')['TotalPayBenefits'].nsmallest(5)

JobTitle
ACPO,JuvP, Juv Prob (SFERS)     135281     80266.37
ASR Senior Office Specialist    142047     18843.77
                                140763     27761.48
                                140468     30611.66
                                137006     67640.27
                                136347     73789.85
ASR-Office Assistant            140719     28224.91
                                140185     33440.68
                                138659     49177.03
                                138402     52498.99
                                137177     66015.76
Account Clerk                   148624         0.00
                                148376       280.46
                                147617      1461.28
                                145626      5377.28
                                145384      6133.18
Accountant I                    140728     28110.76
                                129819    100245.90
Accountant II                   144809      7914.77
                                141677     21087.09
                                139135     44015.52
                                136613     71705.79
                                136327     73913.64
Accountant III                  148172       607.36
                                146286      3810.28
                                142230     17672.02
                                141082     25206.50
                                140790     27500.55
Accountant IV                   143764     11076.46
                                143490     12019.62
                                            ...
Wharfinger 2                    125957    113717.86
                                125916    113902.20
Window Cleaner                  138380     52765.73
                                129596    101086.44
                                129590    101105.37
                                129389    101825.35
                                129240    102289.73
Window Cleaner Supervisor       126615    111085.85
Wire Rope Cable Maint Mechanic  144359      9232.87
                                140301     32216.43
                                126575    111270.04
                                117675    159500.70
                                115043    180338.53
Wire Rope Cable Maint Sprv      111837    228338.09
Worker's Comp Supervisor 1      145904      4716.00
                                138247     54549.77
                                137247     65320.24
                                136958     68181.41
                                123699    123913.03
Worker's Compensation Adjuster  147123      2378.96
                                143217     13148.75
                                142563     15889.22
                                136972     67927.01
                                135818     77206.00
X-Ray Laboratory Aide           143629     11455.27
                                143518     11872.48
                                143291     12893.21
                                141974     19221.83
                                141901     19687.63
Youth Comm Advisor              138456     52011.19
Name: TotalPayBenefits, Length: 3900, dtype: float64

In [73]:
x =data[data['Year']==2014].iloc[:,4]
totalOT = sum(x)
y = data[data['Year']==2014].iloc[:,7]
totalPAY= sum(y)
print(totalOT)
print(totalPAY)
percent = totalOT/totalPAY *100
print(percent)

205918599.27000067
2876910951.2599883
7.157628538339547

In [81]:

data[data['Year']==2014].groupby('JobTitle').mean().sort_values(['TotalPay'], ascending= True).head(5)

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
JobTitle,,,,,,,,,
Special Assistant 15,145529.000000,0.000000,0.000000,0.000000,5650.860000,0.000000,5650.860000,2014.0,NaN
"BdComm Mbr, Grp2,M=$25/Mtg",148342.800000,325.000000,0.000000,0.000000,20.417556,325.000000,345.417556,2014.0,NaN
"BdComm Mbr, Grp3,M=$50/Mtg",147963.666667,691.904762,0.000000,0.000000,260.913333,691.904762,952.818095,2014.0,NaN
Special Examiner,147736.034483,1124.488276,6.416897,10.267241,201.578276,1141.172414,1342.750690,2014.0,NaN
"BdComm Mbr, Grp5,M$100/Mo",147709.092593,1300.115926,0.000000,0.000000,35.300185,1300.115926,1335.416111,2014.0,NaN